.cards-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: black;
    min-height: 100vh;
}